* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}

#container {
  width: 100%;
  max-width: 800px;
  margin: 4rem auto 0;
  border: 1px solid aquamarine;
  border-radius: 5px;
}

.form__title {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  position: relative;
  background-color: aquamarine;
}

.form__title__step {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 3px;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
}

.question {
  color: blue;
  margin: 15px 0 10px 10px;
}

.select {
  margin-top: 15px;
}

.container__item {
  padding: 10px;
}

.next__btn {
  color: #fff;
  background-color: #36eec0;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  margin: 20px auto 0;
  display: block;
}

.next__btn__span{
font-weight: 700;
}