<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <select v-model="selected">
        <option v-for="(year, index) in list" :key="index" :value="year">
          {{ year }}年
        </option>
      </select>
    </div>
  </body>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        // v-model とバインディングされる
        selected: null,
        // select に入れる年を入れる配列
        list: [],
        // 〜◯◯年前の設定
        num: 100
      },
      created() {
        // 今年
        const year = new Date().getFullYear()
        // 指定年まで配列に追加
        for (let i = 0; i < this.num; i++) {
          this.list.unshift(year - i)
        }
        // 初期値の設定
        this.selected = this.list[this.list.length * 0.6]
      }
    })
  </script>

</html>